.secondpage{
    background-color: white;
    min-height: 800px;
   
    .sec{
        font-size: 3em;
        margin-left: 40px;

        .photu{
            margin-left: 200px;
            margin-top: 30px;
        }
    }
}
