.firstpage{
    background-color: rgb(104, 104, 104);
    margin-left: 50px;
    max-width: 1400px;
    min-height: 800px;

    .fin{
      font-size: 2em;
      margin-left: 30px;
      color: white;
      margin-top: 200px;
    }
}